body{
    background: url('../images/bg.jpg') repeat;
}

.page{
    background: url('../images/shadow.png') repeat-y center;
}

.zone{
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
    font-family: verdana, arial;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 22px !important;
    font-weight: normal;
}




/*header stuff */

.block-1 p{
    margin: 0;
}

.block-uc-cart{
    margin-top: 5px;
}


/*Top Navigation ==================================================== */
div.navigation{
    margin-top: 10px;
    font-size: 15px;
    height: 35px;
    background-color: #363636;
}


div.navigation a{
    color: #fff;
    text-decoration: none;
}

div.navigation li a{
    padding: 0px 20px;
    margin: 0; 
}


div.navigation li{
    margin: 0;
    padding:  6px 0 7px 0;
    float: left;
    border-right: 1px solid #fff;
}

div.navigation li.last{
   /* border-right: none;*/

}

div.navigation li.last a{
    /*padding: 0 5px; /*hack - may not work in all browsers...*/
}

div.navigation li:hover{
    background-color: #e6e6e8;
}

div.navigation li:hover a{
    color: #363636;
}


div.navigation li.active-trail{
    background-color: #ff7f00;
}

.front div.navigation li.active{
    background-color: #ff7f00;
}

.node-type-home-page div.navigation{
    margin-bottom: 10px;
}


/*Footer*/

#section-footer{
    text-align: center;
}

/*Footer Nav */
.block-menu-footer-nav ul{display:inline-block;}
.block-menu-footer-nav ul li.leaf{
    list-style-image: none;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 10px 0;
    
    font-size: 16px;
}

.block-menu-footer-nav ul li.leaf a{
    border-right: 1px solid #464646;
    padding: 0 10px;
}


.block-menu-footer-nav ul li.last.leaf a{
    border: none;
}

/*Copyright message */
.block-block-2{
    font-size: 14px;
}



/*slideshow*/
.field-name-field-slideshow{
    z-index: -1;
}

.field-name-field-slideshow .field-items .field-item {
    display:none;
}

.field-name-field-slideshow .field-items .value-0{
    display: block;
}


#slide-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
#slide-nav a { height: 40px; width: 40px; border: 1px solid #ccc; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; background: #363636; text-decoration: none; margin: 0 5px; padding: 3px 5px; color: #fff; }
#slide-nav a.activeSlide { background: #ff7f00}
#slide-nav a:focus { outline: none; }

/*news homepage view
h2.block-title{
    margin-bottom: 10px;
}

.view-news.view-id-news.view-display-id-block table{
    border: 3px solid #363636;
    border-collapse: collapse;
    -webkit-box-shadow:0 0 5px #363636; 
    box-shadow: 0 0 5px #363636;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-style: hidden; 
}



.view-news.view-id-news.view-display-id-block td{
    padding: 5px 0 5px 10px;
    position: relative;

    float: left;
        
}

.view-news.view-id-news.view-display-id-block .views-field-title{
    position: absolute;

    bottom: 5px;
    left: 10px;
    width: 225px;
    background: url('../images/opaque-grey.png') repeat;
    padding: 10px 0;
}

.view-news.view-id-news.view-display-id-block .views-field-title .field-content{
    padding: 10px;
}

.view-news.view-id-news.view-display-id-block .views-field-title a{
    color: #fff;
    text-decoration: none;
}

.view-news.view-id-news.view-display-id-block .views-field-title a:hover{
    text-decoration: underline;
}
*/
/*Homepage news view layout */
.view-news .views-row{
    float: left;
    width: 225px;
    margin: 5px;
    position: relative;
}

.block-news-block .content{
    margin: 2px;
    border: 3px solid #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

.view-news .views-field-title{
    position: absolute;
    width: 225px;
    background: url('../images/opaque-grey.png') repeat;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    
}

.view-news .views-field-title .field-content{
    margin: 10px;
}



.view-news .views-field-title a{
    color: #fff;
}




/*Homepage team view lauyout */
.view-team-categories .views-row{
    float: left;
    width: 225px;
    margin: 5px;
    position: relative;
}

.block-team-categories-block .content{
    margin: 2px;
    border: 3px solid #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.view-team-categories .views-field-name{
    position: absolute;
    width: 225px;
    background: url('../images/opaque-grey.png') repeat;
    bottom: 0;
    left: 0;
    padding: 10px 0;
    
}

.view-team-categories .views-field-name .field-content{
    margin: 10px;
}



.view-team-categories .views-field-name a{
    color: #fff;
}