body{
    background: url('../images/bg.jpg') repeat;
}

.page{
    background: url('../images/shadow.png') repeat-y center;
}

.zone{
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
    font-family: verdana, arial;
}

h1{
    font-size: 28px;
}

h1#page-title{
    margin: 10px 0;
    font-size: 20px;
}

h2{
    font-size: 22px !important;
    font-weight: normal;
}


.not-front #zone-content{
    background: url('../images/column-bg.png') repeat-y #fff;
}


.form-actions input{
    margin: 0 !important;
}


/*header stuff */

.block-1 p{
    margin: 0;
}

.block-uc-cart{
    margin-top: 5px;
}


/*Top Navigation ==================================================== */
div.navigation{
    margin-top: 10px;
    font-size: 15px;
    height: 35px;
    background-color: #363636;
}


div.navigation a{
    color: #fff;
    text-decoration: none;
}

div.navigation li a{
    padding: 0px 20px;
    margin: 0; 
}


div.navigation li{
    margin: 0;
    padding:  6px 0 7px 0;
    float: left;
    border-right: 1px solid #fff;
}

div.navigation li.last{
    /* border-right: none;*/

}

div.navigation li.last a{
    /*padding: 0 5px; /*hack - may not work in all browsers...*/
}

div.navigation li:hover{
    background-color: #e6e6e8;
}

div.navigation li:hover a{
    color: #363636;
}


div.navigation li.active-trail{
    background-color: #ff7f00;
}

.front div.navigation li.active{
    background-color: #ff7f00;
}

div.navigation{
    margin-bottom: 10px;
}


/*Footer*/

#section-footer{
    text-align: center;
}

/*Footer Nav */
.block-menu-footer-nav ul{display:inline-block;}
.block-menu-footer-nav ul li.leaf{
    list-style-image: none;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 10px 0;

    font-size: 16px;
}

.block-menu-footer-nav ul li.leaf a{
    border-right: 1px solid #464646;
    padding: 0 10px;
}


.block-menu-footer-nav ul li.last.leaf a{
    border: none;
}

/*Copyright message */
.block-block-2{
    font-size: 14px;
}



/*slideshow*/
.field-name-field-slideshow{
    z-index: -1;
}

.field-name-field-slideshow .field-items .field-item {
    display:none;
}

.field-name-field-slideshow .field-items .value-0{
    display: block;
}


#slide-nav {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}
#slide-nav a { height: 40px; width: 40px; border: 1px solid #ccc; border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; background: #363636; text-decoration: none; margin: 0 5px; padding: 3px 5px; color: #fff; }
#slide-nav a.activeSlide { background: #ff7f00}
#slide-nav a:focus { outline: none; }


/*Homepage news view layout */
.view-news.view-id-news.view-display-id-block .views-row{
    float: left;
    width: 225px;
    margin: 5px;
    position: relative;
}

.block-news-block .content{
    margin: 2px;
    border: 3px solid #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 10px;
}

.view-news.view-id-news.view-display-id-block .views-field-title{
    position: absolute;
    width: 225px;
    background: url('../images/opaque-grey.png') repeat;
    bottom: 0;
    left: 0;
    padding: 10px 0;

}

.view-news.view-id-news.view-display-id-block .views-field-title .field-content{
    margin: 10px;
}



.view-news.view-id-news.view-display-id-block .views-field-title a{
    color: #fff;
}




/*Homepage team view lauyout */
.view-team-categories .views-row{
    float: left;
    width: 225px;
    margin: 5px;
    position: relative;
}

.block-team-categories-block .content{
    margin: 2px;
    border: 3px solid #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.view-team-categories .views-field-name{
    position: absolute;
    width: 225px;
    background: url('../images/opaque-grey.png') repeat;
    bottom: 0;
    left: 0;
    padding: 10px 0;

}

.view-team-categories .views-field-name .field-content{
    margin: 10px;
}



.view-team-categories .views-field-name a{
    color: #fff;
}

/*All other pages */
.region-sidebar-first-inner{
    padding: 20px;
    color: #fff;
}

.region-sidebar-first-inner a{
    color: #fff;
}

.region-sidebar-first-inner a.active, .region-sidebar-first-inner a.active-trail{
    color: #FF7F00;
}

.region-sidebar-first-inner h2.block-title{
    font-size: 16px !important;
    text-decoration: underline;
    margin-bottom: 10px;
}

.region-sidebar-first-inner .view ul li{
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

.region-sidebar-first-inner ul li.leaf{
    margin: 0;
    padding: 0;
    list-style-image: none;
    list-style-type: none;
}

.region-sidebar-first-inner .block{
    margin-bottom: 30px;
}





/*News Page */
.view-news.view-id-news.view-display-id-page_1 .views-row{
    float: left;
    width: 225px;
    height: 490px;
    margin: 5px 10px 5px 0;
    position: relative;
}

.view-news.view-id-news.view-display-id-page_1 .views-field-title{
    position: absolute;
    width: 225px;
    background: url('../images/opaque-grey.png') repeat;
    Top: 126px;
    left: 0;
    padding: 10px 0;

}

.view-news.view-id-news.view-display-id-page_1 .views-field-title .field-content{
    margin: 10px;
}

.view-news.view-id-news.view-display-id-page_1 .views-field-title a{
    color: #fff;
}

.view-news.view-id-news.view-display-id-page_1 .views-row .views-field-created{
    font-weight: bold;
}


.pager-previous a{
    width: 70px !important;
}

/*Individual news item */
.field-name-field-news-images{
    width: 356px;
    float: left;
    margin: 0 10px 10px 0;
}

.field-name-field-news-images img{
    padding: 3px;
    border: 1px solid #363636;
    background-color: white;
    margin-bottom: 10px;
}

.field-name-field-news-images img:hover{
    background-color: #363636;
}

/*Product category page */
.view-id-taxonomy_term .view-content .views-row{
    width: 130px;
    float: left;
    text-align: center;
    border: 3px solid #363636;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 320px;
    position: relative;
}

.views-field-buyitnowbutton .form-actions input{
    position: absolute;
    bottom: 10px;
    left: 22px;
}

.view-id-taxonomy_term .views-field.views-field-title {
    font-weight: bold;
    margin: 10px 0;
    position: absolute;
top: 210px;
width: 100%;
text-align: center;
left: 0;
}

.view-id-taxonomy_term .views-field-sell-price{
    position: absolute;
bottom: 50px;
width: 100%;
text-align: center;
left: 0;
}